* {
    box-sizing:border-box;
    margin: 0;
}

#testamoniol {
    background-color: #1E0E62;
    height: 100vh;
    width: 100%;
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    margin: 100px 150px;
    gap: 40px;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
}

.cards {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto;
     gap: 30px;
}

.card {
    border: 2px solid rgba(255,255,255, 0.15);
    border-radius: 10px;
    padding: 35px 30px;
    display: flex;
    gap: 30px;
}

img {
    width: 70px;
    height: 70px;
}

.review {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 13px;
}

.author {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    /* Colors / White */
    
    color: #FFFFFF;
    
    opacity: 0.3;
}
